body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.title {
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  margin-top: 10px;
}

.image {
  width: 300px;
  height: 300px;
  background-image: url('pinguin.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.message {
  font-size: 18px;
  margin-top: 0;
}

.clue {
  font-size: 24px;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}